  
{
    "presets":[
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
	    "@babel/proposal-class-properties",
	    [
	      "@babel/plugin-transform-runtime",
	      {
	        "absoluteRuntime": false,
	        "version": "^7.13.10"
	      }
	    ]
	],
}